.form-header {
  font-family: "Lato";
  font-stretch: expanded;
  font-size: medium;
  line-height: 1rem;
  font-weight: bolder;
  color: rgba(0, 0, 0, 0.712);
}

.form-subtitle {
  font-family: "Lato";
  font-stretch: condensed;
  font-size: small;
  line-height: 1rem;
}

.form-bg {
  background-color: #f7f7f7;
  border-radius: 16px;
  padding: 1rem;
}

.input-page1 {
  border: none;
  border-radius: 8px;
  box-shadow: 7px 15px 25px 7px rgba(166, 163, 166, 0.38);
}

.input-page1:focus {
  outline: none;
  border: none;
  box-shadow: 7px 15px 25px 7px rgba(166, 163, 166, 0.38);
}

.input-page2 {
  border: none;
  border-radius: 8px;
  background-color: #f7f7f7;
}

.input-page2:focus {
  outline: none;
  border: none;
  box-shadow: none;
  background-color: #f7f7f7;
}

.form-button-container-right {
  position: absolute;
  top: 85%;
  right: 5%;
  width: 100px;
  height: 120px;
}

.form-button-container-left {
  position: absolute;
  top: 85%;
  left: 5%;
  width: 100px;
  height: 120px;
}

/*
.form-button {
  position: relative;
  top: 0;
  right: 0;
} */
